li {
  font-size: 1.2rem;
  color: white;
}

.navbar .nav .input-group .form-control {
  border: 0px;
  background-color: #191970;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 15rem;
}

.navbar .nav .input-group .input-group-prepend .input-group-text {
  background-color: white;
  color: white;
  border: 0px;
  background-color: #191970;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.navbar .nav .input-group .input-group-prepend .border-left-white {
  border-left: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}
.navbar .nav .input-group .input-group-prepend .border-right-white {
  border-right: 1px solid white;
}

.navbar .nav{
  align-items: center;
  justify-content: space-around;
}

.navbar .nav .nav-item{
  margin: 0 1rem;
}

.navbar .nav .search-input >  div{
  vertical-align: middle;
  margin-top: 1rem;
}

.navbar .navbar-brand{
  color:white;
  font-size: 2rem;
  margin-right: 1rem;
}

.contianer{
  margin-top: 4rem;
}
.contianer h2 {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.contianer .col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 77%;
  margin: 0 auto;
}

.contianer .col h5{
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #9995cc;
}

.contianer .col-md-5 input{
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin-top: 0.5rem;
}
.contianer .col .col-md-5 .form-group .form-check{
  font-weight: bold;
  margin-top: 0.5rem;  
}


.lock-icon{
  width: 10%;
  text-align: center;
  color: #191970;
}
.lock{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #191970;

}
.lock .col-md-5 .form-control {
  width: 60%;
  margin: 0 auto;
}
.login{
  padding-right: 10rem;
  width: 140%;
  margin-top: 10rem;


}

.carousel{
  background: #2f4357;
  margin: 0 auto;
  border-radius: 10px;
  width: 98%;
  height: 320px;
  text-align: center;
  
}
.container-lg .carousel .carousel-inner .carousel-item {
  background-image: url("/images/dd.jpg ");
  background-color: #cccccc;
  height: 320px;
  background-position: center;
border-radius: 10px;
  background-size: cover;
  position: relative;




  
}

.new_product {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2px;
  padding: 1rem;
}
.container_section {
  border: 1px solid #ccc;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}
.container_section h2{
  text-align: right;
  padding-right: 20px;
  font-weight: lighter;
  padding-top: 5px;
  color: blue;
}
.product {
  text-align: center;
  font-size: 20px;
}
.heavy_span {
  font-weight: bold;
  margin-left: 10px;
}
.serves_link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.serves_link:hover {
  color: #191970;
  text-shadow: 2px 2px #191970;
}
.product .product-photo img{
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;
  

}
.product .product-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-size: 0.8rem;
  margin: 0 auto;
  margin-top: 1rem;
  

}
.product .product-data span{
  color: mediumspringgreen;
}
.product .product-data p{
  color: #191970;
  
}
.row .col-md-6 .card{
  border-radius: 20px;
width: 90%;
  margin-right: 2rem;
  margin-left: 2rem;
  
 
}
.row .col-md-6 .card .card-body{
  padding-bottom: 0rem;
  padding-top: 1rem;
}
.row .col-md-6 .card .card-body .card-title  {
display: flex;
justify-content: space-between;
flex-direction: row;

color: #191970;

  
}
.row .col-md-6 .card .card-body .card-text{
  display: flex;
justify-content: space-between;
flex-direction: row;

color: #191970;
}
.row .col-md-6 .card .card-body .card-title .card-icon i{
  
font-size:20px;

}
.row .col-md-6 .card .card-body .card-text .card-time p{
  color: red;
}
  .add .add-body #carouselExampleSlidesOnly{
   display: flex;
   justify-content: center;
   flex-direction: column;
  background-color:#DFDFDF ;
  width: 100%;
  height: 175px;
  align-items: center;
  text-align: center;
margin: 0 auto;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}
.add .add-body{
  margin-left: 2rem;
  margin-right: 2rem;
}
.add .add-body #carouselExampleSlidesOnly .add-tittle{
  margin-top: 1rem;
  color: #4037C8;
}
.add .form-group{
  width: 95%;
  margin: 0 auto;
}
.add .form-group .input-group input{
background-color:white;
font-weight: bold;
border-left: 0px;


}
.add .form-group .input-group .input-group-prepend .input-group-text  {
  background-color: white;
  border-right: 0px;
  border-radius: 5px;
  border-top-right-radius:0px ;
  border-bottom-right-radius:0px ;
}

.add .form-group .add-button{

  text-align: center;
}
.HowAs-main{
display: flex;
justify-content: space-around;
flex-direction: column;


}
.HowAs-main button{
  width: 10%;
  margin-bottom: 1rem;
}
.HowAs-main .Howas-textarea{
  text-align: center;
}
.HowAs-main .Howas-textarea textarea{
  text-align: right;
  border-radius: 1rem;
  
}
.inbox-chat .chat-list {
  margin-top: 2.5rem;
  
}
.inbox-chat .chat-list .chat-people .chat-start .chat-img img{
  width: 4rem;
  border-radius: 50%;

}
.inbox-chat .chat-list .chat-people .chat-start{
  display: flex;
  justify-content: end;
  flex-direction: row;
}
.inbox-chat .chat-list .chat-people .chat-start .chat-tittle{
  padding-right: 1rem;
  padding-top: 0.5rem;
  text-align: center;
}
.inbox-chat .chat-list .chat-people {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #ccc;
  margin-left: 1rem;
  margin-right: 1rem;
}
.inbox-chat .chat-list .chat-people .chat-ib{
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}
.inbox-chat .chat-list .chat-people .chat-ib .badge-danger{
  width: 2rem;
  background-color: #191970;
  align-self: center;
}

.chat{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:1rem;
  margin: 0 1rem;
}

.chat .chat-img{
  justify-self: center;
  align-self: center;
  text-align: center;
}

.chat .chat-img img{
  width: 4rem;
  border-radius: 50%;
  margin: 0 auto;
}

.chat .chat-img h5{
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  color: #191970;
}

.chat .chat-icons{
  justify-self: right;
  align-self: flex-start;
}
.time-date{
  text-align: center;
  color: #000;
}
 .incoming_msg_img img{
  width: 4rem;
  border-radius: 50%;
 margin-right: 1.5rem;
}
.main-chat .mesgs .msg_history .incoming_msg .received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received_withd_msg p {
	background:#191970;
	border-radius: 5px; 
	color: white;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 40%;
}
.time_date {
	color: #747474;
  display: flex;
  justify-self: right;
  text-align: right;
	font-size: 12px;
margin-right: 14.5rem;
margin-top: 1px;
  
}
.received_withd_msg {
  width: 57%;
  margin-top: 1.3rem;
  margin-right: -1rem;
  
}
.mesgs .incoming_msg{
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;

}


.sent_msg p {
  background: #ebebeb none repeat scroll 0 0;
	border-radius: 5px;
	font-size: 14px;

	color: #4037C8;
	padding: 5px 10px 5px 12px;
	width: 70%;
}
.outgoing_msg {
display: flex;
justify-self: center;
flex-direction: row-reverse;
margin-right: 10rem;
}
.sent_msg {
	float: left;
  width: 30%;
  margin-left: -6rem;
  margin-top: 0.8rem;
  
}

.incoming_msg_imgs img{
  width: 4rem;
  border-radius: 50%;
 margin-left: 1.5rem;
 float: left;
}
.time_dates {
	color: #747474;
  display: flex;
  justify-self: right;
  text-align: right;
	font-size: 12px;
margin-right: 0.5rem;
margin-top: -12px;
  
}
.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	outline:none;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.main-chat{
  position: relative;
  height: 60vh;
  padding: 1rem
}
 .main-chat .form-group{
   width: 98%;
   margin: 0 auto;
   position: absolute;
   bottom: 0;
 } 
 .main-chat .form-group .input-group-prepend .input-group-text  {

  background-color: white;
 }

 .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child){
   border-right: 0;
 }
 #carouselExampleIndicators .carousel-inner .carousel-item {
   background-image: url(/images/photo_2020-11-08_12-08-34.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center center;
   min-height: 50vh;
  }
  .informaition{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 1rem;
  }
  .informaition .tittil{
  margin-right: 1rem;
  }
  .informaition .tittil .tittil-time span{
    font-size: 0.5rem;
    color: #cccccc;
  }

.informaition .total{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
   }
   .informaition .total .total-case span{
     color:#14ff33;
   }
   .informaition .total .icon {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 75%;
    margin-top: 0.5rem;
   }
   .informaition .total .icon .total-icon2   {
     background-color: #ebebeb;
     border-radius: 3px;
     padding: 0.2rem;
   
   }
   .informaition .total .icon .total-icon1   {
    background-color: #ebebeb;
    border-radius: 3px;
    padding: 0.2rem;
  }
   .informaition .total .total-run{
     text-align: center;
     background-color: #ebebeb;
     margin: 0.5rem;
     width: 70%;
     padding: 0.2rem;
     border-radius: 2px;
   }
   .details{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
    padding: 0 1rem;
    margin:1rem;
   }
   
   .container_section .head{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     margin: 1rem;
    }
    .send{
      margin-top: 5rem;
      display: flex;
      padding: 1rem;
     justify-content: center;
     flex-direction: row;
     align-items: center;
   }
.send button{
  align-self: center ;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
  background-color: white;
}


.comment_list{
  padding:1rem
}

.comment{
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin: 1rem;
}

.comment_header{
  border-bottom: 1px solid #ccc;
  display : flex;
  justify-content: space-between;
  align-items: center;
  padding:0 1rem; 
}

.comment_header-white{
  color: #ccc;
  padding: 0.5rem;
}

.comment_body{
  padding:1rem;
  display: flex;
  justify-content: space-between;
  height: 12vh;
}

.comment_body_text{
  width: 95%
}

.details{
  display: flex;
  flex-direction: column;
}

.details-tittel{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;

}

.details-icon{
  margin: 1rem;
  padding: 1rem;
}
.cont1{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 0.3rem;
}
.count1_data button{
  display: flex;
  flex-direction: row;
  margin-left: 0.3rem;
  justify-content: space-around;
  align-items: center;
  width: 12rem;
  padding: 0;
}

.count1_data button p {
  margin-top: 0.8rem;
}
.count1_dat{
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  width: 24.3rem;
  align-items: center;
  border-radius: 5px;
}

.count1_dat p {
  margin-top: 0.8rem;
  
}
.count1_dat span{
  color: gold;
}